h1 
{
	font-family: Verdana;
	font-size: 50px;
	font-style: normal;
	color: white;
	font-variant: normal;
	font-weight: 400;
	line-height: 50px;
	background-color: darkgrey;
	margin-right: 200px;
}

h2
{
	font-family: Verdana;
	font-size: 25px;
	font-style: normal;
	color: white;
	font-variant: normal;
	font-weight: 400;
}

h3
{
	color: white;
}

pre 
{
	font-family: Verdana;
	color: white;
}

article 
{
	padding: 10px;
}

body 
{
	background-image: url("background.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
}

img 
{
	width: 545px;
	height: 335px;
}

p 
{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
	font-style: normal;
	color: white;
	font-variant: normal;
	font-weight: 400;
	line-height: 25px;
}

ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li 
{
	color: white;
	float: left;
}

li a 
{
	display: block;
	color: white;
	text-align: center;
	padding: 15px 15px;
  	width: 160px;
	font-family: Impact, Charcoal, sans-serif;
	text-decoration: none;
}

li a:hover 
{
    background-color: #111;
}
img
{
	width: 1333px;
	height: 700px;
}
